pythongait/
results/
site-packages/
temp/
**/*.pyc
**/*ipynb
temp.py
dummy/
depRL-main/
**.zip
**.log
log.txt

#마지막에는 commit으로 올려야하는 것 
trainconfig/
config.txt
training.ipynb
inference.ipynb
draw.ipynb
